  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  form {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea,
  select {
    font-size: 16px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  textarea {
    resize: vertical;
  }
  
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-size: 10px 10px;
  }
  
  button[type="submit"] {
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #cc003d;
  }
  